In [2]:
import numpy as np
import pandas as pd
import matplotlib as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [4]:
data=pd.read_csv("data\Transformed_data.csv")

In [6]:
data.head()

   ID     Age  Income Student Credit-rating buys computer
0   1   young    high      no          fair            no
1   2   young    high      no          good            no
2   3  middle    high      no          fair           yes
3   4     old  medium      no          fair           yes
4   5     old  medium      no          fair           yes

In [12]:
data.columns=[column.replace(" ","_").lower() for column in data.columns]
data.head()

   id     age  income student credit-rating buys_computer
0   1   young    high      no          fair            no
1   2   young    high      no          good            no
2   3  middle    high      no          fair           yes
3   4     old  medium      no          fair           yes
4   5     old  medium      no          fair           yes

In [14]:
data.shape

(14, 6)

In [15]:
len(data)

14

In [16]:
data.columns

Index(['id', 'age', 'income', 'student', 'credit-rating', 'buys_computer'], dtype='object')

In [17]:
data.nunique()

id               14
age               3
income            3
student           2
credit-rating     2
buys_computer     2
dtype: int64

In [22]:
#Data Types of columns
data.dtypes

id                int64
age              object
income           object
student          object
credit-rating    object
buys_computer    object
dtype: object

In [34]:
#Changing the data type of the dataframe to string for easy compatibility
data=data.astype("string")

In [32]:
data.dtypes

id               string[python]
age              string[python]
income           string[python]
student          string[python]
credit-rating    string[python]
buys_computer    string[python]
dtype: object

In [37]:
#Combinations for each columns

In [38]:
#Excluding the ID column

In [44]:
data=data.drop('id',axis=1)

In [58]:
#Unique values of each columns
uniq={}
vals=[list(data[i].unique()) for i in data.columns]
cols=data.columns
uniq=dict(zip(cols,vals))
print(uniq)

{'age': ['young', 'middle', 'old'], 'income': ['high', 'medium', 'low'], 'student': ['no', 'yes'], 'credit-rating': ['fair', 'good'], 'buys_computer': ['no', 'yes']}

In [77]:
'''void combine(string st, int j, int size,string s,vector<string> &res)
{
    int len=st.length();
    if(j==len)
    {
        //if(s.length()==size)
            res.push_back(s);
        return;
    }

    /*if(s.length()==size)
    {
        res.push_back(s);
    }*/
    combine(st,j+1,size,s,res);
    combine(st,j+1,size,s+st[j],res);

}
int main()
{
    vector<string> res;
    string s="abcd";
    combine(s,0,2,"",res);
    for(auto x:res)
        cout<<x<<" ";
    return 0;
}
'''
["ad"]+["adsd"]

['ad', 'adsd']

In [102]:
def combine(li,data_dict,temp=[],j=0):
    l=len(li)
    if(j==l):
        data_dict[len(temp)].append(temp)
        return
    combine(li,data_dict,temp,j+1)
    combine(li,data_dict,temp+[li[j]],j+1)

data_dict={}
for i in uniq.keys():
    li=uniq[i]
    #print(uniq[i])
    keys=list(range(0,len(li)+1))
    dic={}
    for j in keys:
        dic[j]=[]
    
    combine(li,dic)
    del(dic[0])
    data_dict[i]=dic
data_dict

{'age': {1: [['old'], ['middle'], ['young']],
  2: [['middle', 'old'], ['young', 'old'], ['young', 'middle']],
  3: [['young', 'middle', 'old']]},
 'income': {1: [['low'], ['medium'], ['high']],
  2: [['medium', 'low'], ['high', 'low'], ['high', 'medium']],
  3: [['high', 'medium', 'low']]},
 'student': {1: [['yes'], ['no']], 2: [['no', 'yes']]},
 'credit-rating': {1: [['good'], ['fair']], 2: [['fair', 'good']]},
 'buys_computer': {1: [['yes'], ['no']], 2: [['no', 'yes']]}}

In [85]:
data_dict

{1: [['old'], ['middle'], ['young']],
 2: [['middle', 'old'], ['young', 'old'], ['young', 'middle']],
 3: [['young', 'middle', 'old']]}