In [80]:
import math
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [81]:
data=pd.read_csv("hierarchial_clustering_dataset.csv")

In [82]:
data.head()

   P1  P2  P3  P4  P5
0   0   2  10   8   6
1   2   0   5   3   9
2  10   5   0   7   4
3   8   3   7   0   1
4   6   9   4   1   0

In [83]:
data

   P1  P2  P3  P4  P5
0   0   2  10   8   6
1   2   0   5   3   9
2  10   5   0   7   4
3   8   3   7   0   1
4   6   9   4   1   0

In [84]:
n=len(data)
n

5

In [85]:
pts=data.columns

In [86]:
data.dtypes

P1    int64
P2    int64
P3    int64
P4    int64
P5    int64
dtype: object

In [87]:
def find_min(data):
    minimum=float('inf')
    n=len(data)
    x=y=0
    for i in range(1,n):
        for j in range(0,i):
            ele=data.iloc[i,j]
            if ele<minimum:
                minimum=ele
                x=i
                y=j
    return x,y

In [125]:

def merge_clusters(data):
    
    n = len(data)
    if(n<=1):
        return data
        
    print("Older matrix : ")
    print(data,"\n")
    x, y = find_min(data)
    x, y = min(x, y), max(x, y)
    print("Merging", data.columns[x], "and", data.columns[y])
    new_name = "(" + data.columns[x] + " , " + data.columns[y] + ")"
    a = data.columns.tolist()
    a[x] = new_name
    data.columns = a
    
    
    for i in range(n):
        if(i!=x):
            e1 = data.iloc[i, x]
            e2 = data.iloc[i, y]
            minimum = min(e1, e2)
            data.iloc[i, x] = minimum
            data.iloc[x, i] = minimum
        

    
    data = data.drop(data.columns[y], axis=1)
    data = data.drop(y)
    
    # Reset index to have row index in ascending order starting from 0
    data = data.reset_index(drop=True)

    print("New Matrix :")
    print(data,"\n")
    return data

In [126]:
p=data.copy()
for i in range(n+1):
    p=merge_clusters(p)

Older matrix :
   P1  P2  P3  P4  P5
0   0   2  10   8   6
1   2   0   5   3   9
2  10   5   0   7   4
3   8   3   7   0   1
4   6   9   4   1   0

Merging P4 and P5
New Matrix :
   P1  P2  P3  (P4 , P5)
0   0   2  10          6
1   2   0   5          3
2  10   5   0          4
3   6   3   4          0

Older matrix :
   P1  P2  P3  (P4 , P5)
0   0   2  10          6
1   2   0   5          3
2  10   5   0          4
3   6   3   4          0

Merging P1 and P2
New Matrix :
   (P1 , P2)  P3  (P4 , P5)
0          0   5          3
1          5   0          4
2          3   4          0

Older matrix :
   (P1 , P2)  P3  (P4 , P5)
0          0   5          3
1          5   0          4
2          3   4          0

Merging (P1 , P2) and (P4 , P5)
New Matrix :
   ((P1 , P2) , (P4 , P5))  P3
0                        0   4
1                        4   0

Older matrix :
   ((P1 , P2) , (P4 , P5))  P3
0                        0   4
1                        4   0

Merging ((P1 , P2) , (P4 , P5)) and P3
New Matrix :
   (((P1 , P2) , (P4 , P5)) , P3)
0                               0

In [123]:

def merge_clusters_using_max(data):
    
    n = len(data)
    if(n<=1):
        return data
        
    print("Older matrix : ")
    print(data,"\n")
    x, y = find_min(data)
    x, y = min(x, y), max(x, y)
    print("Merging", data.columns[x], "and", data.columns[y])
    new_name = "(" + data.columns[x] + " , " + data.columns[y] + ")"
    a = data.columns.tolist()
    a[x] = new_name
    data.columns = a
    
    
    for i in range(n):
        if(i!=x):
            e1 = data.iloc[i, x]
            e2 = data.iloc[i, y]
            maximum = max(e1, e2)
            data.iloc[i, x] = maximum
            data.iloc[x, i] = maximum
        

    
    data = data.drop(data.columns[y], axis=1)
    data = data.drop(y)
    
    # Reset index to have row index in ascending order starting from 0
    data = data.reset_index(drop=True)

    print("New Matrix :")
    print(data,"\n")
    return data

In [124]:
p=data.copy()
for i in range(n+1):
    p=merge_clusters_using_max(p)

Older matrix :
   P1  P2  P3  P4  P5
0   0   2  10   8   6
1   2   0   5   3   9
2  10   5   0   7   4
3   8   3   7   0   1
4   6   9   4   1   0

Merging P4 and P5
New Matrix :
   P1  P2  P3  (P4 , P5)
0   0   2  10          8
1   2   0   5          9
2  10   5   0          7
3   8   9   7          0

Older matrix :
   P1  P2  P3  (P4 , P5)
0   0   2  10          8
1   2   0   5          9
2  10   5   0          7
3   8   9   7          0

Merging P1 and P2
New Matrix :
   (P1 , P2)  P3  (P4 , P5)
0          0  10          9
1         10   0          7
2          9   7          0

Older matrix :
   (P1 , P2)  P3  (P4 , P5)
0          0  10          9
1         10   0          7
2          9   7          0

Merging P3 and (P4 , P5)
New Matrix :
   (P1 , P2)  (P3 , (P4 , P5))
0          0                10
1         10                 0

Older matrix :
   (P1 , P2)  (P3 , (P4 , P5))
0          0                10
1         10                 0

Merging (P1 , P2) and (P3 , (P4 , P5))
New Matrix :
   ((P1 , P2) , (P3 , (P4 , P5)))
0                               0