In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
import math
warnings.filterwarnings("ignore")

In [2]:
data=pd.read_csv("data\Transformed_data.csv")

In [28]:
data.columns=[column.replace(" ","_").lower() for column in data.columns]
data.head()

   id     age  income student credit-rating buys_computer
0   1   young    high      no          fair            no
1   2   young    high      no          good            no
2   3  middle    high      no          fair           yes
3   4     old  medium      no          fair           yes
4   5     old     low     yes          fair           yes

In [29]:
data

    id     age  income student credit-rating buys_computer
0    1   young    high      no          fair            no
1    2   young    high      no          good            no
2    3  middle    high      no          fair           yes
3    4     old  medium      no          fair           yes
4    5     old     low     yes          fair           yes
5    6     old     low     yes          good            no
6    7  middle     low     yes          good           yes
7    8   young  medium      no          fair            no
8    9   young     low     yes          fair           yes
9   10     old  medium     yes          fair           yes
10  11   young  medium     yes          good           yes
11  12  middle  medium      no          good           yes
12  13  middle    high     yes          fair           yes
13  14     old  medium      no          good            no

In [30]:
tuple={'age':'young','income':'high','student':'no','credit-rating':'good'}

In [32]:
def naive(data,col,tuple):
    uniq_vals={}
    for i in data[col]:
        if i in uniq_vals:
            uniq_vals[i]+=1
        else:
            uniq_vals[i]=1
    n=len(data)
    maxi=0
    for i in uniq_vals:
        prob=uniq_vals[i]/n
        p=1
        for j in tuple:
            p*=len(data[(data[col]==i) & (data[j]==tuple[j])])/n
        prob*=p
        if(prob>maxi):
            maxi=prob
            
        print(i,prob)
naive(data,'buys_computer',tuple)

no 0.0006693639554947342
yes 0.0006024275599452608

In [16]:
len(data[(data['buys_computer']=='no') & (data['student']=='yes')])

1

In [25]:
a=zip(data['student'].unique(),data['student'].value_counts())
a=dict(a)

{'no': 7, 'yes': 7}